---
import Layout from '../layouts/Layout.astro';

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---

<Layout title='About'>
  <Header />
  <section class='darkBg mt-5 mb-5 pb-4'>
    <div
      class='container text-white neonContainer py-3 py-md-5 py-lg-5 px-3 px-md-5 px-lg-5'
    >
      <p class='m-0 sectionTitle text-center'>Docs page, TBD</p>
    </div>
  </section>
  <Footer />
</Layout>
