---
import '../styles/global.css';
import '../styles/temp.css';
---

<section class='darkBg py-5'>
  <div class='container text-white'>
    <div class='row'>
      <div class='col-12 col-md-12 col-lg-8 col-xl-8'>
        <p class='heroTitle m-0'>Building games, Reimagined</p>
        <p class='fw-bold heroTitle m-0'>Powerful, efficient and flexible</p>
        <p class='heroDescription mt-3'>
          Hush is a 3D and 2D game engine designed from the ground up for swift development and scalable projects.
          It delivers a user-friendly, versatile, and high-performance platform, offering a fast and responsive interface for game design without compromising resource efficiency.
        </p>
        <div class='d-flex justify-content-start buttonContainer mt-5'>
          <button
            class='btn btn-light rounded-pill px-4 py-2 fw-bold'
            style='margin-right: 1.5rem;'>Get started</button
          >
          <button class='btn btn-outline-light rounded-pill px-5 py-2 fw-bold'
            >Demo</button
          >
        </div>
      </div>
      <div
        class='col-12 col-md-12 col-lg-4 col-xl-4 d-none d-md-none d-lg-block d-xl-block'
      >
        <div class='traslucentCard'></div>
      </div>
    </div>
  </div>
</section>
